.taskWrap{
    min-width: 400px;
    margin: 15px auto 0;
    padding: 5px;
}
.inputRow{
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
button{
    display: block;
    margin: 0 auto;
    padding: 3px;
    margin-bottom: 10px;
}

.tableStyle{
    margin: 0 auto;
    padding: 0px;
    border: 1px solid #e4e4e4;
}

.tdStyle{
    margin: 0;
    text-align: center;
    min-width: 30px;
    border: 1px solid #e4e4e4;
}